/* src/components/NavBar.css */

.nav-bar {
  width: 100%;
  background-color: #ffffff; /* Establece el fondo en blanco */
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000; /* Cambia el color del texto a negro */
}

.sub-nav-bar {
  background-color: #ffffff; /* Establece el fondo en blanco */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #000000; /* Cambia el color del texto a negro */
}

.logo h1 {
  margin: 0;
  font-size: 3em;
  color: #61dafb;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 30px;
}

nav ul li a {
  color: #000000; /* Cambia el color del texto a negro */
  text-decoration: none;
  font-size: 1.3em;
}

nav ul li a:hover {
  text-decoration: underline;
}

.sub-nav-bar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.sub-nav-bar nav ul li {
  margin: 0 15px;
}

.sub-nav-bar nav ul li.active {
  color: #61dafb;
}

.logo img {
  width: 200px;
  height: auto;
}
