/* src/components/StarRating.css */
.star-rating {
    display: inline-block;
  }
  
  .star {
    color: gold;
    font-size: 1.5em;
    margin: 0 2px;
  }
  
  .empty-star {
    color: #ddd; /* Color para estrellas vacías */
  }
  