.App {
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* Cuatro productos por fila */
  gap: 20px; /* Espacio entre los productos */
  padding: 20px;
}

@media (max-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Tres productos por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Dos productos por fila en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .products-container {
    grid-template-columns: 1fr; /* Un producto por fila en pantallas muy pequeñas */
  }
}